<!-- Task 5 -->
<div class="display-flex justify-content-flex-end">
    <!-- Task 8-->
    {{!-- <a href="{{#if filter}}/{{else}}/?filter=true{{/if}}"
        class="mdc-button {{#if filter}}mdc-button--unelevated{{else}}mdc-button--outlined{{/if}}">
        {{#if filter}}
        <span class="mdc-button__label">Show All</span>
        {{else}}
        <span class="mdc-button_label">Show Incomplete only</span>
        {{/if}}
    </a> --}}
</div>
<div class="display-flex">
    <div class="mdc-form-field width-100">
        <div class="mdc-text-field width-100">
            <form method="GET" action="/" class="width-100">
                <input type="text" id="search" name="search" class="mdc-text-field__input width-100" value="{{search}}">
                <label class="mdc-floating-label" for="search">Search by factory name</label>
                <div class="mdc-line-ripple width-100"></div>
            </form>
        </div>
    </div>
</div>
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card">
                <div class="mdc-card__actions">
                    <a href="/products/create" class="mdc-button mdc-card__action mdc-card__action--button">
                        <span>Add New Product</span>
                    </a>
                </div>
            </div>
            {{!--
        </div>
        {{#each products}}
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card">
                <div class="mdc-card__content">
                    <div class="mdc-card__title">
                        Name: {{Record.name}}
                    </div>
                    <div>
                        Description: {{Record.description}}
                    </div>
                    <div>
                        Status: {{Record.status}}
                    </div>
                </div>

                <div class="mdc-card__actions">
                    <button class="mdc-button mdc-card__action mdc-card__action--button">
                        <a href="/products/{{Key}}">Detailed View</a>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div> --}}
    <div class="mdc-layout-grid__cell justify-content">

            <h1>Hyperledger Data</h1>
        <div class="mdc-data-table">
            <div class="mdc-data-table__table-container">
                
                <table class="mdc-data-table__table" aria-label="Product Information">

                    <thead>
                        <tr class="mdc-data-table__header-row">
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Manufacturer</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Serical number</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Product type</th>
                                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Creation date</th>
                                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Owner</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Operations</th>
                        </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                        {{#each products}}
                        <tr class="mdc-data-table__row">

                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{Record.Manufacturer}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{Record.Serialnumber}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{Record.Parttype}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{Record.Creationdate}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{Record.owner}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell">
                                <button class="mdc-button mdc-card__action mdc-card__action--button">
                                    <a href="#">Change Ownership</a>
                                </button>
                            </td>

                        </tr>
                        {{/each}}

                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mdc-layout-grid__cell justify-content">
         <h1>Ethereum Data</h1>
                 <div class="mdc-data-table">
            <div class="mdc-data-table__table-container">
                
                <table class="mdc-data-table__table" aria-label="Product Information">

                    <thead>
                        <tr class="mdc-data-table__header-row">
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Manufacturer</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Serical number</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Product type</th>
                                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Creation date</th>
                                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Owner</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Operations</th>
                        </tr>
                    </thead>
                      <tbody class="mdc-data-table__content">
                        {{#each ethParts as |ethPart|}}
                         <tr class="mdc-data-table__row">
                             <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{ethPart}}</td>
                             <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{1}}</td>
                             <td class="mdc-data-table__cell mdc-data-table__cell--numeric">engine</td>
                             <td class="mdc-data-table__cell mdc-data-table__cell--numeric">01/12/2022</td>
                             <td class="mdc-data-table__cell mdc-data-table__cell--numeric">factory2</td>
                             <td class="mdc-data-table__cell mdc-data-table__cell">
                                <button class="mdc-button mdc-card__action mdc-card__action--button">
                                    <a href="#">Change Ownership</a>
                                </button>
                            </td>
                         </tr>

                        {{/each}}
                      </tbody>      
                </table>
                </div>
                 </div>
        <span>The Ethereum account you have granted is: </span>
        <p>{{ethAccount}}</p>
    </div>
    </div>


</div>